/build/
/data
/log/
/nohup.out
/codeworld-auth.txt
/codeworld-auth.db
/github-auth-token.txt
/web/clientId.txt
dist
dist-*
.ghc.environment.*
*.aux
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.eventlog
*.hi
*.hp
*.jsexe
*.js_o
*.js_hi
*.o
*.prof
*.swp
.stack-work
stack.yaml.lock