<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CodeWorld App</name>
    <description>
        CodeWorld App
    </description>
    <author href="https://code.world">
        CodeWorld
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/icon/android/mipmap-mdpi/codeworld.png" />
        <icon density="hdpi" src="res/icon/android/mipmap-hdpi/codeworld.png" />
        <icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/codeworld.png" />
        <icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/codeworld.png" />
        <icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/codeworld.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
