.blocklyDraggable {}
.blocklySvg {
  background-color: #fff;
  outline: none;
  overflow: hidden;
}
.blocklyWidgetDiv {
  display: none;
  position: absolute;
  z-index: 999;
}
.blocklyTooltipDiv {
  background-color: #ffffc7;
  border: 1px solid #ddc;
  box-shadow: 4px 4px 20px 1px rgba(0,0,0,.15);
  color: #000;
  display: none;
  font-family: sans-serif;
  font-size: 9pt;
  opacity: 0.9;
  padding: 2px;
  position: absolute;
  z-index: 1000;
}
.blocklyResizeSE {
  cursor: se-resize;
  fill: #aaa;
}
.blocklyResizeSW {
  cursor: sw-resize;
  fill: #aaa;
}
.blocklyResizeLine {
  stroke: #888;
  stroke-width: 1;
}
.blocklyHighlightedConnectionPath {
  fill: none;
  stroke: #fc3;
  stroke-width: 4px;
}
.blocklyTypeVarPath {
  stroke-width: 3px;
  fill: none;
}
.blocklyHighlightedConnectionPathBlue {
  stroke-width: 3px;
  stroke: blue;
  fill: none;
}
.blocklyHighlightedConnectionPathRed {
  stroke-width: 3px;
  stroke: red;
  fill: none;
}
.blocklyHighlightedConnectionPathGreen {
  stroke-width: 3px;
  stroke: green;
  fill: none;
}
.blocklyHighlightedConnectionPathYellow {
  stroke-width: 3px;
  stroke: yellow;
  fill: none;
}
.blocklyHighlightedConnectionPathCyan {
  stroke-width: 3px;
  stroke: cyan;
  fill: none;
}
.blocklyPathLight {
  fill: none;
  stroke-linecap: round;
  stroke-width: 1;
}
.blocklySelected>.blocklyPath {
  stroke: #fc3;
  stroke-width: 3px;
}
.blocklyErrorSelected>.blocklyPath {
  stroke: #fc3;
  opacity: 0.8;
  stroke-width: 4px;
}
.blocklyErrorSelected>.blocklyPathLight {
  display: none;
}

.blocklySelected>.blocklyPathLight {
  display: none;
}
.blocklyDragging>.blocklyPath,
.blocklyDragging>.blocklyPathLight {
  fill-opacity: .8;
  stroke-opacity: .8;
}
.blocklyDragging>.blocklyPathDark {
  display: none;
}
.blocklyDisabled>.blocklyPath {
  fill-opacity: .5;
  stroke-opacity: .5;
}
.blocklyDisabled>.blocklyPathLight,
.blocklyDisabled>.blocklyPathDark {
  display: none;
}
.blocklyText {
  cursor: default;
  fill: #fff;
  font-family: sans-serif;
  font-size: 11pt;
}
.blocklyTextEmph {
  cursor: default;
  fill: #fff;
  font-size: 11pt;
  font-weight: 600;
}
.blocklyNonEditableText>text {
  pointer-events: none;
}
.blocklyNonEditableText>rect,
.blocklyEditableText>rect {
  fill: #fff;
  fill-opacity: .6;
}
.blocklyNonEditableText>text,
.blocklyEditableText>text {
  fill: #000;
}
.blocklyEditableText:hover>rect {
  stroke: #fff;
  stroke-width: 2;
}
.blocklyBubbleText {
  fill: #000;
}
.blocklySvg text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: inherit;
}
.blocklyHidden {
  display: none;
}
.blocklyFieldDropdown:not(.blocklyHidden) {
  display: block;
}
.blocklyIconGroup {
  cursor: default;
}
.blocklyIconGroup:not(:hover),
.blocklyIconGroupReadonly {
  opacity: .6;
}
.blocklyIconShape {
  fill: #00f;
  stroke: #fff;
  stroke-width: 1px;
}
.blocklyIconSymbol {
  fill: #fff;
}
.blocklyMinimalBody {
  margin: 0;
  padding: 0;
}
.blocklyCommentTextarea {
  background-color: #ffc;
  border: 0;
  margin: 0;
  padding: 2px;
  resize: none;
}
.blocklyHtmlInput {
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0 1px;
  width: 100%
}
.blocklyMainBackground {
  stroke-width: 1;
  stroke: #c6c6c6;
}
.blocklyMutatorBackground {
  fill: #fff;
  stroke: #ddd;
  stroke-width: 1;
}

.blocklyFlyoutBackground {
  fill: #f5f5f5 ;
  fill-opacity: .8;
}
.blocklyScrollbarBackground {
  opacity: 0.0;
}
.blocklyScrollbarHandle {
  fill: #b0b0b0;
  opacity: 0.9;
}
.blocklyScrollbarKnob {
  fill: #ccc;
}
.blocklyScrollbarBackground:hover+.blocklyScrollbarKnob,
.blocklyScrollbarKnob:hover {
  fill: #bbb;
}
.blocklyZoom>image {
  opacity: .4;
}
.blocklyZoom>image:hover {
  opacity: .6;
}
.blocklyZoom>image:active {
  opacity: .8;
}
.blocklyFlyout .blocklyScrollbarKnob {
  fill: #bbb;
}
.blocklyFlyout .blocklyScrollbarBackground:hover+.blocklyScrollbarKnob,
.blocklyFlyout .blocklyScrollbarKnob:hover {
  fill: #aaa;
}
.blocklyInvalidInput {
  background: #faa;
}
.blocklyAngleCircle {
  stroke: #444;
  stroke-width: 1;
  fill: #ddd;
  fill-opacity: .8;
}
.blocklyAngleMarks {
  stroke: #444;
  stroke-width: 1;
}
.blocklyAngleGauge {
  fill: #f88;
  fill-opacity: .8;
}
.blocklyAngleLine {
  stroke: #f00;
  stroke-width: 2;
  stroke-linecap: round;
}
.blocklyContextMenu {
  border-radius: 4px;
}
.blocklyDropdownMenu {
  padding: 0 !important;
}
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-icon {
  background: url(https://blockly-demo.appspot.com/static/media/sprites.png) no-repeat -48px -16px !important; 
}
.blocklyToolboxDiv {
  background-color: #f5f5f5;
  overflow-x: visible;
  overflow-y: auto;
  position: absolute;
}
.blocklyTreeRoot {
  padding: 4px 0;
}
.blocklyTreeRoot:focus {
  outline: none;
}
.blocklyTreeRow:before{
  content: '>';
  color: #e0e0e0;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  font-size:20px;
  float:right;
}
.blocklyTreeRow {
  height: 36px;
  line-height: 36px;
  margin-bottom: 3px;
  margin-right: 0;
  white-space: nowrap;
}
.blocklyHorizontalTree {
  float: left;
  margin: 1px 5px 8px 0;
}
.blocklyHorizontalTreeRtl {
  float: right;
  margin: 1px 0 8px 5px;
}
.blocklyToolboxDiv[dir="RTL"] .blocklyTreeRow {
  margin-left: 8px;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #e5e5e5;
}
.blocklyTreeSeparator {
  border-bottom: solid #e5e5e5 1px;
  height: 0;
  margin: 5px 0;
}
.blocklyTreeSeparatorHorizontal {
  border-right: solid #e5e5e5 1px;
  width: 0;
  padding: 5px 0;
  margin: 0 5px;
}
.blocklyTreeIcon {
  background-image: url(https://blockly-demo.appspot.com/static/media/sprites.png);
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
.blocklyTreeIconClosedLtr {
  background-position: -32px -1px;
}
.blocklyTreeIconClosedRtl {
  background-position: 0px -1px;
}
.blocklyTreeIconOpen {
  background-position: -16px -1px;
}
.blocklyTreeSelected>.blocklyTreeIconClosedLtr {
  background-position: -32px -17px;
}
.blocklyTreeSelected>.blocklyTreeIconClosedRtl {
  background-position: 0px -17px;
}
.blocklyTreeSelected>.blocklyTreeIconOpen {
  background-position: -16px -17px;
}
.blocklyTreeIconNone,
.blocklyTreeSelected>.blocklyTreeIconNone {
  background-position: -48px -1px;
}
.blocklyTreeLabel {
  color: #337ab7;
  cursor: default;
/*  font-family: sans-serif; */
  font-size: 16px;
  padding: 0 3px;
  vertical-align: middle;
}
.blocklyTreeSelected .blocklyTreeLabel {
  color: #fff;
}
.blocklyWidgetDiv .goog-palette {
  outline: none;
  cursor: default;
}
.blocklyWidgetDiv .goog-palette-table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.blocklyWidgetDiv .goog-palette-cell {
  height: 13px;
  width: 15px;
  margin: 0;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #666;
  font-size: 1px;
}
.blocklyWidgetDiv .goog-palette-colorswatch {
  position: relative;
  height: 13px;
  width: 15px;
  border: 1px solid #666;
}
.blocklyWidgetDiv .goog-palette-cell-hover .goog-palette-colorswatch {
  border: 1px solid #FFF;
}
.blocklyWidgetDiv .goog-palette-cell-selected .goog-palette-colorswatch {
  border: 1px solid #000;
  color: #fff;
}
.blocklyWidgetDiv .goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  z-index: 20000;
}
.blocklyWidgetDiv .goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}
.blocklyWidgetDiv .goog-menuitem.goog-menuitem-rtl {
  padding-left: 7em;
  padding-right: 28px;
}
.blocklyWidgetDiv .goog-menu-nocheckbox .goog-menuitem,
.blocklyWidgetDiv .goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}
.blocklyWidgetDiv .goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}
.blocklyWidgetDiv .goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-accel,
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.blocklyWidgetDiv .goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.blocklyWidgetDiv .goog-menuitem-highlight,
.blocklyWidgetDiv .goog-menuitem-hover {
  background-color: #d6e9f8;
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}
.blocklyWidgetDiv .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-icon {
  left: auto;
  right: 6px;
}
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-checkbox,
.blocklyWidgetDiv .goog-option-selected .goog-menuitem-icon {
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}
.blocklyWidgetDiv .goog-menuitem-accel {
  color: #999;
  direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}
.blocklyWidgetDiv .goog-menuitem-rtl .goog-menuitem-accel {
  left: 0;
  right: auto;
  text-align: left;
}
.blocklyWidgetDiv .goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}
.blocklyWidgetDiv .goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}
.blocklyWidgetDiv .goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}
