ul.jqtree-tree {
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    color: var(--cw-button-color);
    list-style: none outside;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree .jqtree-element {
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    margin: 3px 3px 0px 3px;
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: var(--cw-button-color);
    background-color: var(--cw-button-bg-5);
    white-space: nowrap;
    overflow: hidden;
}

ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: block;
}

ul.jqtree-tree li.jqtree-closed>ul.jqtree_common {
    display: none;
}

ul.jqtree-tree li.jqtree_common {
    clear: both;
    list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
    border-bottom: none;
    text-decoration: none;
    vertical-align: middle;
}

ul.jqtree-tree .jqtree-toggler:hover {
    text-decoration: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
    margin-right: 0.5em;
}


ul.jqtree-tree .jqtree-title {
    vertical-align: middle;
    margin-left: .5em;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    border: solid 2px var(--dir-tree-ui-highlight);
    border-radius: 100px;
    height: 8px;
    width: 8px;
    position: absolute;
    top: -4px;
    left: -6px;
    box-sizing: border-box;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: var(--dir-tree-ui-highlight);
    height: 2px;
    padding: 0;
    position: absolute;
    top: -1px;
    left: 2px;
    width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: relative;
    display: block;
    border: solid 2px var(--dir-tree-ui-highlight);
    border-radius: 6px;
    margin: 0;
}

ul.jqtree-tree li.jqtree-selected>.jqtree-element,
ul.jqtree-tree li.jqtree-selected>.jqtree-element:hover {
    background-color: var(--cw-button-bg-1);
}

ul.jqtree-tree .jqtree-moving>.jqtree-element .jqtree-title {
    outline: dashed 1px var(--dir-tree-ui-highlight);
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}
