#sidebar {
  transition: margin 0.3s ease;
}

.collapsed {
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    margin-left: -25%;
  }
}

#row-main {
    overflow-x: hidden;
}

#main {
    transition: width 0.3s ease;
}

Blockly.Blocks.lists.HUE = 260;




iframe {
    width: 100%;
}
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
