#sidebar {
  transition: margin 0.3s ease;
}

.collapsed {
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    margin-left: -25%;
  }
}

#row-main {
    overflow-x: hidden;
}

#main {
    transition: width 0.3s ease;
}
