* {
    margin: 0;
    overflow: hidden
}

#screen {
    cursor: default;
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
}

#infobox {
    position: absolute;
    border: 1px solid #777;
    background: var(--infobox-bg);
    min-width: 60px;
    max-height: 450px;
    overflow-y: auto;
    padding: 0px;
    box-shadow: 1px 1px 2px var(--infobox-shadow);
    display: none;
}

#infobox ul {
    text-align: left;
}

.stack-list {
    list-style-type: none;
    padding: 0px;
    border-spacing: 0px;
}

.stack-item {
    background-color: var(--stack-item-bg);
    margin: 1px;

    cursor: pointer;
    font-family: sans-serif;
}

.stack-item:hover {
    background-color: var(--stack-item-hover-bg);
}

.stack-list a {
    color: var(--stack-list-a);
    text-decoration: none;
}

.shape-info {
    padding-left: 6px;
    padding-right: 6px;
}

.shape-info:hover {
    background-color: var(--shape-info-hover-bg);
}

.shape-name {
    padding: 4px;
    padding-left: 8px;
    padding-right: 4px;
    text-align: left;
    white-space: nowrap;
}

.shape-loc {
    padding: 4px;
    padding-left: 0px;
    padding-right: 8px;
    white-space: nowrap;
}
