* { margin: 0; overflow: hidden }
#screen {
    cursor: default;
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
}

.stack-list {
    list-style-type: none;
    padding: 0px;
}

.stack-list a {
    color: black;
    text-decoration: none;
}

.shape-name {
    float: left;
}

.shape-loc {
    float: right;
    margin-left: 10px;
}
