.treedialog {
  border: 1px solid var(--treedialog-border);
  background: var(--treedialog-bg);
  z-index: 90;
  font-family: sans-serif;

  box-shadow: 1px 1px 2px var(--treedialog-shadow);
}

.treedialog ul {
  list-style-type: none;
  padding-left: 15px;
}

.treedialog .collapse-button {
  cursor: pointer;
  margin-right: 8px;
  display: table-cell;
  width: 14px;
  vertical-align: center;
  font-size: 10px;
}

.treedialog .collapse-spacer {
  margin-right: 8px;
  display: table-cell;
  width: 14px;
  vertical-align: center;
  font-size: 10px;
}

.treedialog li a {
  display: table-cell;
}

.treedialog .tree-emph {
  font-style: italic;
}

.treedialog-content {
  padding: 15px;
}

.treedialog-piclink {
  color: var(--treedialog-piclink);
}

.treedialog .piclink-selected {
  background: var(--treedialog-piclink-selected);
}

.inspect-dialog__section {
  position: relative;
  width: calc(100% - 10px);
}

.inspect-dialog {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}
