.treedialog {
    border: 1px solid #000;
    background: #FFF;
    z-index: 90;
    font-family: sans-serif;

    box-shadow: 1px 1px 2px #000;
}

.treedialog ul {
    list-style-type: none;
    padding-left: 15px;
}

.treedialog .collapse-button {
    cursor: pointer;
    margin-right: 8px;
    display: table-cell;
    width: 14px;
    vertical-align: center;
    font-size: 10px;
}

.treedialog .collapse-spacer {
    margin-right: 8px;
    display: table-cell;
    width: 14px;
    vertical-align: center;
    font-size: 10px;
}

.treedialog li a {
    display: table-cell;
}

.treedialog .tree-emph {
    font-style: italic;
}

.treedialog-content {
    padding: 15px;
}

.treedialog-piclink {
    color: black;
}
